<!DOCTYPE html>
<html><head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <!-- Noto Sans 한국어 글꼴 (https://theeluwin.github.io/NotoSansKR-Hestia) -->
  <link rel="stylesheet" href="http://notosanskr-hestia.s3-website-ap-northeast-1.amazonaws.com/stylesheets/NotoSansKR-Hestia.css">
  <link rel="stylesheet" href="{{config.baseurl}}assets/canola-alpha.css">
</head><body>
  <div class="whole">
    <header class="top-header">
      <div class="blog-title">
        <a class="no-ul" href="{{config.baseurl}}">{{config.sitename}}</a>
      </div>
      <nav class="blog-nav">
        <a href="{{config.baseurl}}">Index</a> |
        <a href="{{config.baseurl}}archives/">Archive</a>
      </nav>
    </header>
    {% block body %}
    {% endblock %}
    <footer>
      {{config.sitename}}
    </footer>
  </div>
</body></html>

